<div class="confirm_pass">
    <%=form_with url: "/change_pass",method: :get do |form|%> 
        <div class="alert_change_pass"> 
            <% if flash[:notice] %>
                <p class="alert_errors"><%=flash[:notice]%></p>
            <% end %>

        </div>

        <h2>Change password </h2>
        <p>Email user:</p>
        <%=form.text_field  :name%>
        <p>New password:</p>
        <%=form.password_field  :password_field%>
        <p>Confirm password:</p>
        <%=form.password_field :password_confirm%><br>
        <%=form.submit "Change"%>
    <%end%>
</div>