<div class="block">

    <div class = "errors">
        <% if @user.nil? %>
            
        <%else%>
          
            <% if @user.errors.any? %>
                <h1>Errors</h1>
                <ul>
                    <% @user.errors.full_messages.each do |m|%> 
                    <li> <%= m %> </li>
                    <% end %>
                </ul>
            <%end%>
        <%end%>
    </div>

    <%= form_with  url:"/sign_in" , method: :post  do |form| %>
        <div class="login-show">
            <h2>LOG IN</h2>
            <%= form.text_field :name, placeholder: "Email" %><br>
            <%= form.password_field :password, placeholder: "password" %>
        </div>

        <div class="btn_log">
            <%= form.submit "Log in"%>
        </div>

         <div class="menu_list">
            <%= link_to 'Forgot password', forgot_password_path %> 
        </div> 
    <%end%>
</div>